.bg-img1 {
  background-color: #000;
  background-size: cover;
  height: 800px;
  width: 100vw;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  height: 800px;
  width: 100vw;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  height: 800px;
  width: 100vw;
}
